/* Made By @jjbecooking | 2019 */
/* Unauthorised use this my code is prohibited. Report any misuse or Uuauthorised use to my twitter account shown above ツ */

html {
	background-color: rgba(34, 34, 34, 1.0);
	font-family: 'Days One', sans-serif;
	font-size: 14px;
	padding: 0px;
	margin: 0px;
	text-align: center;
	color: rgba(81, 81, 81, 1.0);
}

body {
	padding: 0px;
	margin: 0px;
}

h1 {
	text-align: center;
	color: rgba(81, 81, 81, 1.0);
	font-family: 'Days One', sans-serif;
	padding: 0px;
	margin: 0px;
	font-size: 4em;
}

h2 {
	text-align: center;
	color: rgba(81, 81, 81, 1.0);
	padding: 0px;
	margin: 0px;
	font-size: 1em;
	margin-top: -5px;
	margin-bottom: 10px;
}

h3 {
	text-align: center;
	color: rgba(81, 81, 81, 1.0);
	padding: 0px;
	margin: 0px;
	font-size: 1em;
	margin-top: -10px;
	margin-bottom: 10px;
	font-style: italic;

}

#main-container {
	width: 302px;
	padding: 5px;
	margin: auto;
	clear: both;
/*	background-color: red;*/
}

.g-recaptcha {
	margin-top: 5px;
}

.main-box {
	width: 304px;
	font-size: 15px;
	color: rgb(224,224,224);
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(238,238,230);
}

#advanced-settings {
	margin-top: 20px;
}

.box-header {
	color: rgba(81, 81, 81, 1.0);
	font-size: 1em;
	width: 147px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-style: solid;
	border-width: 1px 1px 0px 1px;
	border-color: rgba(81, 81, 81, 1.0);
	border-radius: 5px;
}

.box-header p {
	margin-top: 2px;
	margin-bottom: 5px;
}

#master-clock-box {
	margin-top: 20px;
}

#clock-box-left {
	float: left;
}

#clock-box-1 {
	color: rgba(81, 81, 81, 1.0);
	font-size: 1em;
	text-align: center;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: rgba(81, 81, 81, 1.0);
	border-radius: 5px;
	margin-top: -7px;
	padding-top: 5px;
}

#clock-box-right {
	float: right;
}

#clock-box-2 {
	color: rgba(81, 81, 81, 1.0);
	background-color: rgba(34, 34, 34, 1.0);
	font-size: 1em;
	text-align: center;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: rgba(81, 81, 81, 1.0);
	border-radius: 5px;
	margin-top: -7px;
	padding-top: 5px;
}

input[type=text] {
	/*-webkit-appearance: none;*/
	border-radius: 5px;
	border: 1px solid;
	color: rgba(81, 81, 81, 1.0);
	background-color: rgba(34, 34, 34, 1.0);
	border-color: rgba(81, 81, 81, 1.0);
	height: 39px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 5px;
	width: 280px;
	outline: none;
}

select {
	/*-webkit-appearance: none;*/
	height: 41px;
	width: 9%;
	display: inline-block;
	border-radius: 5px;
	border: 1px solid;
	background-color: rgba(34, 34, 34, 1.0);
	border-color: rgba(81, 81, 81, 1.0);
	color: rgba(81, 81, 81, 1.0);
	margin-top: 5px;
	outline: none;
}

textarea {
	background-color: rgba(34, 34, 34, 1.0);
	border-color: rgba(81, 81, 81, 1.0);
	color: rgba(81, 81, 81, 1.0);
	border-radius: 5px;
	border: 1px solid;
	max-width: 280px;
	min-width: 280px;
	max-height: 165px;
	min-height: 165px;
	margin-top: 4px;
	padding: 10px;
	width: 280px;
	outline: none;
}

input[type=submit] {
	height: 41px;
	width: 9%;
	background-color: rgba(34, 34, 34, 1.0);
	color: rgba(81, 81, 81, 1.0);
	border: 1px solid;
	border-color: rgba(81, 81, 81, 1.0);
	border-radius: 5px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1em;
	padding: 10px;
	margin-top: 4px;
	outline: none;
}

input[type=submit]:hover {
	background-color: rgba(81, 81, 81, 1.0);
	color: rgba(34, 34, 34, 1.0);
}

input[type=submit]:active {
	background-color: rgba(60, 60, 60, 1.0);
}

.reveal-if-active {
	display: none;
}

#advanced-settings label {
	margin-top: 100px;
	font-size: 0.8em;
	line-height: 30px;
}


.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
